body {
    background-color: cadetblue;
}

header {
    width: 100%;
    height: 40px;
    background-color: green;
    color: antiquewhite;
    text-align: right;
    padding: 0.2em;
    padding-right: 1em;
    position: fixed;
    top: 0;
}

header h1 {
    float: left;
    font-size: x-large;
    margin: 0.2em;
}

header h1 a {
    color: antiquewhite;
    text-decoration: none;
}

header p {
    margin: 0.6em;
}

header p a {
    color: burlywood;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
    background-color: darkseagreen;
    padding: 1em;
    height: 100%;
    box-shadow: 1px 0px 7px black;
}

h2 {
    margin-top: 0;
}

.pure-button {
    padding: 0.2em 0.5em;
}
