.leaflet-container {
    width: 600px;
    height: 400px;
    margin-bottom: 1em;
}

#map-add-cache {
    cursor: copy;
}

#map-cache-list {
    float: left;
}

#cache-list {
    margin-top: 0;
    float: left;
    list-style-type: none;
    padding-left: 1em;
}

#cache-list li a {
    text-decoration: none;
    color: darkslategray;
}

#cache-list li a:hover {
    font-weight: bold;
}

#caches-info:after {
    content: "";
    display: block;
    clear: both;
}

#add-cache {
    margin-top: -2px;
}

#cache-list-link {
    float: right;
}
