{% extends "base.html" %}

{% block title %}Add a cache{% endblock %}
{% block content %}

<h2>Add a new cache</h2>

<div class="leaflet-container" id="map-add-cache"></div>

<form action="{% url 'caches:cacheCreate' %}" method="post">
	{% csrf_token %}
	{{ form }}
	<input id="add-cache" class="pure-button" type="submit" value="Add cache">
</form>

{% endblock %}
