{% extends "base.html" %}

{% block title %}{{ cache.title }}{% endblock %}
{% block content %}

<h2>Cache details</h2>

<a id="cache-list-link" href="{% url 'caches:cacheList' %}">Return to caches list</a>

<div id="cache-info" data-loc="{{ cache.location }}" data-title="{{ cache.title }}">
	<ul>
		<li>Title: {{ cache.title }}</li>
		<li>Description: {{ cache.description }}</li>
		<li>Created at: {{ cache.creation_date }} times.</li>
		<li>Found: {{ cache.nb_times_found }}</li>
		<li>Not found: {{ cache.nb_times_not_found }}</li>
	</ul>
</div>

<div class="leaflet-container" id="map-cache-detail"></div>

{% if cache.reaction_set.all %}
	<p>Reactions:</p>
	<ul>
		{% for reaction in cache.reaction_set.all %}
			<li>
				{{ reaction.found | yesno:"✔,✘" }}
				{{ reaction.creation_date }} :
				<b>{{ reaction.comment }}</b>
			</li>
		{% endfor %}
	</ul>
{% else %}
	<p>No reactions yet.</p>
{% endif %}

<p>Add reaction:</p>
<form action="{% url 'caches:reactionCreate' cache.id %}" method="post">
	{% csrf_token %}
	Found <input type="checkbox" name="found" checked>
	Comment <input name="comment">
	<input class="pure-button" type="submit" value="Send">
</form>

{% endblock %}
