{% extends "base.html" %}

{% block title %}Cache list{% endblock %}
{% block content %}

<h2>List of caches</h2>

<div id="caches-info">
	<div class="leaflet-container" id="map-cache-list"></div>

	{% if cache_list %}
	<ul id="cache-list">
		{% for cache in cache_list %}
		<li data-loc="{{ cache.location }}" data-id="{{ cache.id }}" data-title="{{ cache.title }}">
			<a href="{% url 'caches:cacheDetail' cache.id %}">{{ cache.title }}</a>
		</li>
		{% endfor %}
	</ul>
	{% else %}
	<p>No caches available.</p>
	{% endif %}
</div>

{% if user.is_authenticated %}
	<a class="pure-button" href="{% url 'caches:cacheCreate' %}">Add cache</a>
{% endif %}

{% endblock %}
