{% load static %}

<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %} | OpenCaching</title>
	<link rel="icon" type="image/png" href="{% static 'logo_64.png' %}">

	<link rel="stylesheet" href="{% static 'caches/vendor/purecss/pure-min.css' %}">
	<link rel="stylesheet" href="{% static 'caches/vendor/leaflet/leaflet.css' %}">
	<link rel="stylesheet" href="{% static 'website.css' %}">
	<link rel="stylesheet" href="{% static 'caches/cache.css' %}">

	<script src="{% static 'caches/vendor/leaflet/leaflet.js' %}" type="text/javascript"></script>
	<script src="{% static 'caches/map.js' %}" type="text/javascript"></script>
</head>
