<header>
	<h1><a href="/">OpenCaching</a></h1>
	{% if user.is_authenticated %}
		<p>Logged as <b>{{ user.username }}</b> | <a href="{% url 'logout' %}">Logout</a></p>
	{% else %}
		<p><a href="{% url 'login' %}">Log in</a></p>
	{% endif %}
</header>
